<!-- This is the Sites Home Page, this is where users start the journey to but t-shirts -->
<html>
<head>
    <title>AZ ECommerce</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>


</head>
<div class="container-fluid" id="page">
    <body>
        <div class="mainbanner">
            <h1 class="d-flex justify-content-center">Welcome to A-Z E-Commerce</h1>
            <h2 class="d-flex justify-content-center">Your Best Shirt is a CLICK away</h2>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">Shirts</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="products" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Enter search here ..." name="search" />
                <button class="btn btn-outline-success my-2 my-sm-0 pr-2" type="submit">Search</button>
            </form>
            <a href="/accounts/login" class="btn btn-primary">Login</a>
            <a type="button" href="/accounts/signup" class="btn btn-secondary">Sign-Up</a>
            {%if cart%}
            <a type="button" href="orders?cart={{cart.id}}" class="btn btn-dark">Cart ({{cartList|length}})</a>
            {%else%}
            <a type="button"  href="orders?cart={{cart.id}}" class="btn btn-dark">Cart (0)</a>
            {%endif%}
        </nav>
        <div class="row">
            <img class="col-sm" src="static/images/Clothes2.png" alt="Shirts">
            <img class="col-sm" src="static/images/Clothes3.png" alt="Shirts">
            <img class="col-sm" src="static/images/Clothes4.png" alt="And More Shirts">
        </div>
            
       

    </body>
</div>
</html>
