<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AZ ECommerce</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <form>
        <label for="CardholserName">Cardholder</label>
        <input name="CardholderName" type="text" />
        <label for="CreditCardnumber">Credit Card Number</label>
        <input name="CreditCardnumber" type="text" />
        <label for="exprdate">Expiration Date</label>
        <input name="exprdate" type="text" />
        <label for="CVV">CCV Name</label>
        <input name="CVV" type="text" />
    </form>
</body>
</html>