<html>
<head>
    <title>AZ ECommerce</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <div class="bg-dark text-success p-3">
        <h1 class="d-flex justify-content-center">Welcome to A-Z E-Commerce</h1>
        <h2 class="d-flex justify-content-center">Your Best Shirt is a CLICK away</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products">Shirts</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="products">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter search here ..." name="search" />
            <button class="btn btn-outline-success my-2 my-sm-0 pr-2" type="submit">Search</button>
        </form>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-secondary">Sign-Up</a>
    </nav>
    <h1>These are the products: </h1>
    <div>
        <ul>
            {% for product in products %}
            <li>
                <div>
                    <a href="/products/item?id={{product.id}}">{{product.title}}</a>
                    <p>{{product.description}}/color-{{product.color}}</p>
                    <form action="orders/AddtoCart">
                        <button type="submit" href="/orders/AddtoCart" class="btn btn-dark">Add to Cart</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>