<!-- This is the individual Product Page where users can take a look at individual products and add them to their carts -->
<html>
<head>
    <title>AZ ECommerce</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <div class="bg-dark text-success p-3">
        <h1 class="d-flex justify-content-center">Welcome to A-Z E-Commerce</h1>
        <h2 class="d-flex justify-content-center">Your Best Shirt is a CLICK away</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../products">Shirts</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="products">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter search here ..." name="search" />
            <button class="btn btn-outline-success my-2 my-sm-0 pr-2" type="submit">Search</button>
        </form>
        <a href="/accounts/login" class="btn btn-primary">Login</a>
        <a type="button" href="/accounts/signup" class="btn btn-secondary">Sign-Up</a>
        {%if cart%}
        <a type="button" href="../orders?cart={{cart}}" class="btn btn-dark">Cart ({{cartList|length}})</a>
        {%else%}
        <a type="button" href="../orders?cart={{cart}}" class="btn btn-dark">Cart (0)</a>
        {%endif%}
    </nav>
    <div class="bg-info">
        <h1>{{product.title}}</h1>
        <img class="img-thumbnail h-50" src="../static/images/shirts/{{product.image_id}}.jpg" alt="Image of Shirt" /><br />
        <p>{{product.description}}</p>
        <form class="col-3" action="../orders/AddtoCart" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="SelectColor">Color</label>
                <input type="text" class="form-control" id="SelectColor" value="{{product.color}}" disabled>

            </div>
            <div class="form-group">
                <label for="SelectSize">size</label>
                <input type="text" class="form-control" id="SelectColor" value="{{product.size}}" disabled>
            </div>
            <input type="hidden" name="id" value={{product.id}} />
            <input type="hidden" name="cart" value={{cart}} />
            <input type="hidden" name="count" value=1 />
            <div class="form-group">
                <input style="font-size:48px" class="rounded bg-light" type="submit" value="AddtoCart" />
            </div>
        </form>
    </div>
</body>
</html>