<!-- This is the individual Product Page where users can take a look at individual products and add them to their carts -->
<html>
<head>
    <title>AZ ECommerce</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <div class="bg-dark text-success p-3">
        <h1 class="d-flex justify-content-center">Welcome to A-Z E-Commerce</h1>
        <h2 class="d-flex justify-content-center">Your Best Shirt is a CLICK away</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products">Shirts</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="products">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter search here ..." name="search" />
            <button class="btn btn-outline-success my-2 my-sm-0 pr-2" type="submit">Search</button>
        </form>
        <button type="button" href="/login" class="btn btn-primary">Login</button>
        <button type="button" href="/signup" class="btn btn-secondary">Sign-Up</button>
        {%if cart%}
        <a type="button" href="orders?cart={{cart.id}}" class="btn btn-dark">Cart (0)</a>
        {%else%}
        <a type="button" href="orders?cart={{cart.id}}" class="btn btn-dark">Cart (0)</a>
        {%endif%}
    </nav>
    <h1>{{product.title}}</h1>
    <img class="img-thumbnail h-50" src="../static/images/shirts/{{product.image_id}}.jpg" alt="Image of Shirt"/><br />
    <p>{{product.description}}</p>
    <form class="col-3">
        <div class="form-group">
            <label for="SelectColor">Color</label>
            <select class="form-control" id="SelectColor">
                <option>Red</option>
                <option>Blue</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SelectSize">Color</label>
            <select class="form-control" id="SelectSize">
                <option>s</option>
                <option>xl</option>
            </select>
        </div>
        <div class="form-group">
            <label> Add to Cart</label>
            <input class="rounded bg-light" type="submit" value="Add" />
        </div>
    </form>
</body>
</html>